html,body{
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size: 100%;
    vertical-align: baseline;
    background:transparent;
}

#adsInfo{
    position:absolute;
    float:left;
    font-size:0.8em;
    text-decoration:underline;
}

#adsExplain{
    position:absolute;
    display:none;
    left:2px;
    top:2px;
    width:260px;
    height:400px;
    z-index:2000;
    border:2px solid black;
    padding:3px;
    margin:2px;
    background:white;
}

#adsCollapse{
    text-decoration:underline;
}

.adsbygoogle{
    position:absolute;
    float:left;
    top:25px;
    left:-1px;
    border:1px solid black;
}

#navbar{
	position:fixed;
	border:1px solid gray;
	background:#ED112E;
	width:798px;
	margin:0 auto;
	margin-top:-1px;
    z-index:10000;
}

.navItem{
	color:white;
	display:inline-block;
}

.separator{
    color:white;
    display:inline-block;
}

.navRight{
    float:right;
}

.navLeft{
    float:left;
}

.navItem{
	font-family:Arial;
	padding-top:4px;
	font-size:1.5em;
	margin-left:6px;
	margin-right:6px;
	margin-top:4px;
}

#navSpacer{
	height:40px;
	display:block;
}

#wrapper{
	border:1px solid black;
	background:white;
	width:800px;
	margin:auto;
}

#top{
	margin:2px 2px 15px 2px;
	border-bottom: 1px solid #efece7;
}

#introSection{
    width:420px;
}

#bradPicDiv{
	float:right;
	margin:2px;
}

#bradPic{
    width:364px; // make IE happy
}

#name{
	display:inline-block;
}

#main{
	margin:4px;
        border-bottom: 1px solid #efece7;
}

.program{
	margin:5px 8px;
	display:inline-block;
	text-align:center;
	font-size:1.2em;
}

#dinoPic{
    width:166px; // for IE
}

h2{
        border-bottom:2px solid black;
        width: 200px;
        margin:0 auto;
        margin-bottom:20px;
}

#nameField{
        height:50px;
        padding:5px;
        font-weight:bold;
}

#textField{
        height:100px;
        padding:5px;
        font-weight:bold;
}

input[type=text]{
        position:absolute;
        left:450px;
        width:120px;
}

textarea{
        position:absolute;
        left:450px;
        width:300px;
        height:75px;
}

#commentSubmit{
    margin-left:10px;
    font-size:1.1em;
}

.comment{
    margin:5px;
    padding:3px;
    clear:right;
    background:white;
    border:1px solid black;
}

.commentName{
        display:inline-block;
        float:left;
        background:lightblue;
        width:100%;
}

.boldName{
        font-weight:bold;
        margin:2px 0px 2px 6px;
}

.commentText{
        display:inline-block;
        width:95%;
        margin-left:50px;
}

#count{
        margin:0 auto;
        margin-top:15px;
        border-top:1px solid #efece7;
        text-align:center;
        clear:both;
}

#commentLinks{
        text-align:center;
        font-size:1.5em;
}

.selected{
        display:inline;
}
.unselected{
        display:none;
}

.enabledLink{
        cursor:pointer;
        color:blue;
        text-decoration:underline;
        margin:5px;
}
.disabledLink{
        cursor:text;
        color:black;
        font-weight:bold;
        margin:5px;
}
