#wrapper{
    border:1px solid black;
}

#Replay{
    visibility:hidden;
    position:absolute;
}

#instructionWrapper{
    position:absolute;
    left:0;
    right:0;
    margin-left:auto;
    margin-right:auto;
}
#instructions{
    display:none;
    background:white;
    z-index:1000;
    position:absolute;
    margin:5px;
    padding:5px;
    font-family:Arial;
    border:3px solid black;
}

#instructionTitle{
    float:right;
    border:1px solid black;
    background:orange;
    margin-right:12px;
    padding:4px;
    font-family:Arial;
    font-weight:bold;
    font-size:.75em;
    z-index:1001;
    position:relative;
	cursor:pointer;
}

#cpuWrapper{
	height:148px;
	margin:2px;
	border:1px solid black;
}
#CPU{
	position:absolute;
	height:120px;
	/*width:100%;*/
	display:inline-block;
	margin:1px;
}

#middleWrapper{
	margin:20px 2px 2px 2px;
	height:150px;
	padding:2px;
}

#drawWrapper{
    position:relative;
    border:1px solid black;
    left:35%;
    width:86px;
    height:146px;
    text-align:center;
    display:inline-block;
    margin:1px;
}

#drawCount{
	position:relative;
	width:20px;
	left:35%;
	display:inline-block;
}

#discardCount{
	position:relative;
	display:inline-block;
	left:55%;
}

#discardWrapper{
    position:relative;
    border:1px solid black;
    left:55%;
    width:86px;
    height:146px;
    text-align:center;
    display:inline-block;
    margin:1px;
}

#buttonsWrapper{
	margin:10px 2px 2px 2px;
	float:left;
}

#colorsWrapper{
	margin:20px 200px 2px 20px;
	float:right;
	visibility:hidden; /* change to visible to show colors  */
}

#playerWrapper{
	margin:20px 2px 2px 2px;
	height:148px;
	border:1px solid black;
	clear:both;
}

.outerBorder{
	height:120px;
	width:80px;
	border:1px solid black;
	border-radius:7%;
	display:inline-block;
	margin:1px;
        position:relative
}

#player .outerBorder:hover{
	position:relative;
	bottom:10px;
}

.innerBorder{
	height:112px;
	width:72px;
	border:1px solid black;
	border-radius:5%;
	margin:3px;
	background:red;
}

.cardCenter{
    position:relative;
    top:15%;
    left:0%;
    text-align:center;
    color:white;
    font-size:1.5em;
    font-family:Arial;
    font-weight:bold;
    
    text-shadow:
        -1px -1px 3px #000,
        1px -1px 3px #000,
        -1px 1px 3px #000,
        1px 1px 3px #000;
    
}

.cardTopLeft{
    text-align:center;
    position:relative;
    background:white;
    width:16px;
    border-radius:95%;
    font-family:Arial;
    font-weight:bold;
    margin:2px;
}

.cardBottomRight{
    text-align:center;
    position:relative;
    filter:  progid:DXImageTransform.Microsoft.BasicImage(rotation=2);  /* IE6,IE7 */
    -ms-transform: rotate(-180deg);
	-moz-transform: rotate(-180deg);  /* FF3.5+ */
	-o-transform: rotate(-180deg);  /* Opera 10.5 */
	-webkit-transform: rotate(-180deg);  /* Safari 3.1+, Chrome */
    transform: rotate(-180deg);
    top:34px;
    left:52px;
    background:white;
    width:16px;
    border-radius:95%;
    font-family:Arial;
    font-weight:bold;
    margin:2px;
}

.selected{
	position:relative;
	-moz-box-shadow: 0 0 5px #1ff;
	-webkit-box-shadow: 0 0 5px #1ff;
	box-shadow: 0px 0px 5px #1ff;
	bottom:10px;
}