body{
	margin:10px;
    margin-left:100px;
	width:800px;
	border: 2px solid gray;
	padding:5px;
}

.bold{
	font-weight:bold;
}

.italics{
	font-style:italic;
}

.underlined{
	text-decoration:underline;
}

.rightAlign{
	float:right;
}

.leftIndent{
	position:relative;
	left:8px;
}

