<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>PAGETITLE</title>
		<link rel="stylesheet" href="/bootstrap/bootstrap.css" />
		<link rel="stylesheet" href=".css" />
        <script src="/Common/jquery.js"></script>
        <script type="text/javascript" src="/Common/backButton.js"></script>
        <script type="text/javascript" src="/Common/ajaxRequest.js"></script>
        <script type="text/javascript" src=".js"></script>
	</head>
	
	<body>
        <div id=wrapper>
            <h1 id=title>TITLE</h1>
        </div>
	</body>
</html>
